/*debugger*/
/* *{
    background-color: rgba(50, 0, 0, 0.25);
} */
.test{
    width: 100vw;
    margin-top: -.125rem !important;
    border: 0;
    background-color: white;
}
/*////debugger*/
/* common rules */
body{
    font-family: Arial, Helvetica, sans-serif;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
main{
    margin-top: 5rem;
}
section{
    padding-bottom: 50px;
    margin-top: 50px;
}
.carousel>*{
    padding: 10px;
}
.row{
    padding-top: 20px;
}
.carousel img{
    width: 100%;
    border-radius: 10px;
    display: block;
}
.subtitle{
    color: #727272;
}
/*buttons*/
button{
    padding: 10px 20px;
    border-width: 0;
    color: white;
    transition: box-shadow 0.25s;
}
.button--gray{
    background: #363636;
}
.button--gray:hover{
    box-shadow: inset 0 0 0 3px #363636, inset 0 0 0 5px #fff;
}
.button--tomato{
    background: #cd3d0f;
}
.button--tomato:hover{
    box-shadow: inset 0 0 0 3px #cd3d0f, inset 0 0 0 5px #000;
}
.button--blue{
    background: #2d64e6;
}
.button--blue:hover{
    box-shadow: inset 0 0 0 3px #2d64e6, inset 0 0 0 5px #fff;
}
.button--white{
    background: #fff;
    color: black;
}
.button--white:hover{
    box-shadow: inset 0 0 0 3px #fff, inset 0 0 0 5px #000;
}
.button--opacity{
    background: rgba(255,255,255,0.5);
    color: #2d64e6;
}
.button--opacity:hover{
    box-shadow: inset 0 0 0 3px rgba(0,0,0,0.5), inset 0 0 0 5px #fff;
}
/*buttons*/
/* banner rules */
.banner__big{
    background-position:50% 0%;
}
.returnal__logo{
    height: 40px;
}
#new__exit *, #most__sold *{
    color: white;
}
img.banner__small{
    width: 100%;
}
/*////banner rules*/
/* ////common rules */
/* header */
header{
    background-color: black;
    width: 100%;
    height: 5rem;
    position: fixed;
    top: 0;
    z-index: 1;
}
/*navbar dropdow*/
.color--black{
    color: black;
}
.first--item{
    border-bottom: 1px solid grey;
}
.second--item{
    list-style: disc;
    color: #2d64e6;
}
/*////navbar dropdown*/
.header__bottom .navbar{
    padding: 0 1rem;
}
.header__top{
    height: 1.5rem;
    padding: 5px;
}
header .header__bottom .fixed__top{
    position: fixed;
    top: 1.5rem;
}
.header__bottom{
    background-color: white;
    height: 3.5rem;
}
.header__bottom .lens{
    height: 1.5rem;
}
.header__bottom nav{
    width: 100%;
}
.header__bottom ul li{
    padding: 0 10px;
}
/* ////header */
/* most sold */
#most__sold .banner__big{
    background-image: url("../img/jumbo-bg.png");
}
#most__sold .banner__big{
    padding: 250px 20px 20px 20px;
}
#most__sold .carousel div:hover img{
   padding: 4px;
    width: calc(100% - 10px);
    border:2px solid #2d64e6;
}
.droplist_icon::after{
    content: url('../img/chevron-down-solid.svg');
    display: inline-block;
    width: 10px;
    margin-left: 0.4rem;
}
.header__bottom .navbar a.nav-link:hover .droplist_icon::after{
    content: url('../img/chevron-down-solid-hover.svg');
}
/* ////most sold */
/*playstation five*/
#playstation__five .comment{
    margin-bottom: 0;
    color: #2d64e6;
}
/* overlay light */
#playstation__five .carousel div{
    opacity: 0.7;
    transition: opacity 0.2s;
}
#playstation__five .carousel div:hover{
    opacity: 1;
    border-bottom: 2px solid #2d64e6;
}
#playstation__five .carousel div:hover > *{
    transform: scale(0.9);

}
/*////playstation five*/
/* new exit */
#new__exit .banner__big{
    background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");    
}
#most__sold .carousel div{
    transition-property: position;
    transition-timing-function: ease-in-out;
}
#most__sold .carousel div:hover img{
    padding: 4px;
    width: calc(100% - 10px);
    border:2px solid #2d64e6;
    position:relative;
    bottom: 20px;
    /* animation-name: moving__img;
    animation-duration: 1s;
    animation-fill-mode:forwards; */
}
/* #most__sold .carousel div:not(:hover) img{
    animation-name: moving__img--back;
    animation-duration: 1s;
}
@keyframes moving__img--back {
    0%       {bottom: 20px;}
    100%    {bottom: 0px}
}
@keyframes moving__img{
    0%       {bottom: 0;}
    100%    {bottom: 20px}
} */
#most__sold .carousel div *{
    transition: all 0.5s;
    position: relative;
}
#new__exit .banner__big{
    padding: 20px;
}
.new__exit--logo{
    width: 200px;
}
#new__exit{
    background-color: #1f1f1f;
}
/* ////new exit */
/*playstation plus*/
#playstation__plus .container-fluid{
    background-color: #bebcbb;
}
#playstation__plus .playstation__plus--logo, #playstation__now .playstation__now--logo{
    width: 350px;
}
#playstation__plus .row{
    padding-top: 0;
}
/*////playstation plus*/
/*on sale*/

/* ////on sale */
/*playstation now*/
#playstation__now .container-fluid{
    background-color: #161c3b;
}

/*////playstation now*/
/*social*/
#social .social__icon{
    max-width: 100px;
    transition: padding 0.3s;
}
#social .icons__container [class*=col]{
    padding: 0;
}
#social .icons__container a{
    padding: 0.5rem;
}
#social .social__icon:hover{
    padding: 3px;
}
/*////social*/
/* footer */
footer .container-fluid{
    padding: 30px 0;
    background-color: #00439c;
}
footer *{
    color: white;
    font-size: 10px;
}
footer .footer__logo--play{
    width: 100px;
}
footer .footer__logo--siae{
    width: 75px;
}
footer .footer__logo--globe{
    width: 18px;
}
footer .info__link{
    text-decoration: underline;
}
footer .link__list a{
    color: white;
}
footer .link__list li:hover a{
    text-decoration: underline;
}
/* ////footer */